<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Education Options</title>

  <!-- Bootstrap -->
  <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
  <!-- bootstrap-wysiwyg -->
  <link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
  <!-- Select2 -->
  <link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
  <!-- Switchery -->
  <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
  <!-- starrr -->
  <link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../build/css/custom.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="index.html" class="site_title"> <span>Demographics</span></a>
        </div>
        <div class="clearfix"></div>
        <br />
        <!-- menu profile quick info -->

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><a href="/"><i class="fa fa-home"></i> Home </a>
              </li>
              <li><a href="/employment"><i class="fa fa-briefcase"></i> Employment </a>
              </li>
              <li><a href="/education"><i class="fa fa-sitemap"></i> Education </a>
              </li>
              <li><a href="/salary"><i class="fa fa-bar-chart-o"></i> Jobs & Salary </a>
              </li>
              <li><a href="/job"><i class="fa fa-home"></i> Job Predictions</a>
              </li>
            </ul>
          </div>
          <div class="menu_section">
          </div>
        </div>
        <!-- sidebar menu -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Sign In
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href="/login">Sign In</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="row" style="visibility: ">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="dashboard_graph">
            <div class="row x_title">
              <div class="col-md-6">
                <h3>Education Level Distribution<small></small></h3>
              </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div id="chart_plot_01" class="demo-placeholder"></div>
              <script>
                  // Disabled people education wise highcharts
                  $(function () {
                      var chart;
                      $(document).ready(function() {
                          chart = new Highcharts.Chart({
                              chart: {
                                  renderTo:'chart_plot_01',
                                  plotBackgroundColor: null,
                                  plotBorderWidth: null,
                                  plotShadow: false,
                                  type: 'pie'
                              },
                              title: {
                                  text: 'Level of Education attained among disabled population'
                              },
                              tooltip: {
                                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                              },
                              plotOptions: {
                                  pie: {
                                      allowPointSelect: true,
                                      cursor: 'pointer',
                                      dataLabels: {
                                          enabled: true,
                                          format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                          style: {
                                              color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                          }
                                      }
                                  }
                              },
                              series: [{
                                  name: 'Education',
                                  colorByPoint:true,
                                  data:[['Bachelor\'s degree',<%= data[8].data[0].value%>], ['High school graduates',<%= data[6].data[0].value%>],['Some college or associate degree',<%= data[4].data[0].value%>],['Less than a high school diploma',<%= data[0].data[0].value%>]]
                              }]
                          });
                      });
                  });
              </script>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <br />

      <div class="">
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">

            <!--Population - Gender (M/F) - Highcharts-->
            <div class="row" style="visibility: ">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph">
                  <div class="row x_title">
                    <div class="col-md-6">
                      <h3>Employment Status w.r.t Education Level<small></small></h3>
                    </div>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="chart_plot_02" class="demo-placeholder"></div>
                    <script>
                        // Education Highcharts
                        $(function () {
                            var chart;
                            $(document).ready(function() {
                                // $.getJSON("data.php", function(json) {

                                chart = new Highcharts.Chart({
                                    chart: {
                                        renderTo:'chart_plot_02',
                                        plotBackgroundColor: null,
                                        plotBorderWidth: null,
                                        plotShadow: false,
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'Employment status with attained education level'
                                    },
                                    xAxis: {
                                        categories: ['Bachelor\'s degree', 'High school graduates', 'Some college or associate degree', 'Less than a high school diploma']
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            text: 'Number in thousands'
                                        }
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0
                                        }
                                    },
                                    series: [{
                                        name: 'Employed',
                                        data: [<%= data[10].data[0].value%>, <%= data[5].data[0].value%>, <%= data[7].data[0].value%>,<%= data[3].data[0].value%>]
                                    }, {
                                        name: 'Unemployed',
                                        data: [<%= data[9].data[0].value%>, <%= data[2].data[0].value%>, <%= data[11].data[0].value%>,<%= data[1].data[0].value%>]
                                    }],
                                });
                                //  });
                            });
                        });
                    </script>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>

  </div>
</div>

<!-- footer content -->
<footer>
  <div class="pull-right">
    <a href="http://localhost:3000/">Disabled employees demographics</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="../vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="../vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="../vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="../vendors/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

</body>
</html>
